
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-thumb {
    background: inherit;
    border-radius: 0.5rem;
}

*::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
}

*:hover::-webkit-scrollbar-thumb {
    background: #90909065;
}

body::-webkit-scrollbar-thumb {
    background: #90909065;
}